html {
  font-family: 'PT Serif', serif;
  background: linear-gradient(#567067, #30403A);
  width: 100%;
  min-height: 100%;
  color: white;
}

a {
  color: #C1C7C4;
}

a:hover {
  color: #E0E5E3;
}

#breadcrumb {
  display: none;
}

#block-user-login {
  width: 400px;
  padding: 15px;
  border: solid 1px white;
  border-radius: 10px;
  background-color: #757977;
  margin: 0 auto;
}

#block-system-navigation {

}

#mainmenusection {
  text-align: right;
  top: 0;
  font-family: 'PT Serif', serif;
  background-color: #757977;
}

#header {
  font-family: 'Satisfy', cursive;
  background: url('../images/dawn2_by_wlop-small.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  background-position: absolute;
  top: 200px;
  height: 200px;
}

.art-compares {
  max-width: 500px;
  max-height: 500px;
}

.form-radios .form-item {
  float: left;
  width: 50%;
}

.form-item label.option {
  display: inline;
}
